<%= form_for(@utente) do |f| %>
  <% if @utente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@utente.errors.count, "error") %> prohibited this utente from being saved:</h2>

      <ul>
      <% @utente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="Utente" align="center">
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :età %><br>
    <%= f.number_field :età %>
  </div>
  <div class="field">
    <%= f.label :sesso %><br>
    <%= f.text_field :sesso %>
  </div>
  <div class="field">
    <%= f.label :idg %><br>
    <%= f.text_field :idg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

</div>
<% end %>
