<%= form_for(@percorso) do |f| %>
  <% if @percorso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@percorso.errors.count, "error") %> prohibited this percorso from being saved:</h2>

      <ul>
      <% @percorso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend><%= f.label :data %></legend>
    <%= f.date_select('data', start_year: 2017) %>
  </fieldset><br>
  <fieldset>
    <legend><%= f.label :ora %></legend>
    <%= f.time_select :ora %>
  </fieldset><br>
  <fieldset>
    <legend><%= f.label :partenza %></legend>
    <%= f.text_field :partenza %>
  </fieldset><br>
  <fieldset>
    <legend><%= f.label :destinazione %></legend>
    <%= f.text_field :destinazione %>
  </fieldset>
  <li role="separator" class="divider"></li>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
