<p id="notice"><%= notice %></p>

<h1>Listing Percorsos</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Ora</th>
      <th>Partenza</th>
      <th>Destinazione</th>
      <th>Durata</th>
      <th>Utref</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @percorsos.each do |percorso| %>
      <tr>
        <td><%= percorso.data %></td>
        <td><%= percorso.ora %></td>
        <td><%= percorso.partenza %></td>
        <td><%= percorso.destinazione %></td>
        <td><%= percorso.durata %></td>
        <td><%= percorso.utref %></td>
        <td><%= link_to 'Show', percorso %></td>
        <td><%= link_to 'Edit', edit_percorso_path(percorso) %></td>
        <td><%= link_to 'Destroy', percorso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Percorso', new_percorso_path %>
