<p id="notice"><%= notice %></p>

<% if @percorsos.empty? %>
  <div class="well">
    <p class="lead text-center">
      Non ci sono persorsi salvati!
    </p>
  </div>
<% else %>
  <% @percorsos.each do |percorso| %>
    <div class="well">
      <span class="navbar-right">Qui ci va l'utente</span>
      <span>
        <strong><%= percorso.partenza%> - <%= percorso.destinazione%></strong><br>
        <strong>Partenza: </strong> <%= percorso.data %> <%= percorso.ora %><br>
        <strong>Durata: </strong> <%= percorso.durata %>
      </span>
      <div>
        <p class="text-center">
          <%= link_to "Mostra di più.", percorso_path(percorso) %>
        </p>
      </div>
    </div>
    <% end %>
<% end %>

<br>
