<p id="notice"><%= notice %></p>
<ul class="list-inline">
  <li id ="left">
    <div id ="l-up">
      <p>
        <strong>Partenza:</strong>
        <%= @percorso.partenza %>
      </p>
      <p>
        <strong>Data:</strong>
        <%= @percorso.data %>
      </p>
      <p>
        <strong>Ora:</strong>
        <%= @percorso.ora %>
      </p>
      <p>
        <strong>Destinazione:</strong>
        <%= @percorso.destinazione %>
      </p>
      <p>
        <strong>Durata:</strong>
        <%= @percorso.durata %>
      </p>
      <p>
        <strong>Utref:</strong>
        <%= @percorso.utref %>
      </p>
    </div>
    <div id ="l-dn">
      <%= link_to 'Edit', edit_percorso_path(@percorso) %> |
      <%= link_to 'Back', percorsos_path %> |
      <%= link_to 'Destroy', percorso_path(@percorso), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </li>

  <!-- codice html mettere variabile partenza destinazione denttro al link-->
  <li>
  <ruby>

  <div id ="center" align = "center" style="display:inline-block;"><iframe width="600" height="450" frameborder="1" style="border:1"
    src=https://www.google.com/maps/embed/v1/directions?key=AIzaSyBvf51KQC6u-v6nVflhxbD0xbC1PSJEdpM&origin=<%= @percorso.partenza %>+italia&destination=<%= @percorso.destinazione %>+italia></iframe>
  </div>
</ruby>
</li>
<li>
  <div id = "partecipa">
    <% if(current_user.uid != @percorso.utref && !@isPartecipante )%>
      <%=link_to "Partecipa" , partecipantis_path(:percorso => @percorso, :creator => @percorso.utref), method: :post, class: "btn btn-default" %>
    <% end %>
    <div id="cancellami">
      <% if(@isPartecipante )%>
      <%=link_to "Cancellami" , partecipanti_path(@partecipante), method: :delete, class: "btn btn-default" %>
      <% end %>
    </div>
    <div id ="right" align = "right">
      <div id ="r-up">
        <p>Creatore</p>
        <%= @utente %>
        <!-- -->
      </div>
      <div id ="r-dn">
        <p>Partecipanti</p>
        <% @partecipanti.each do |partecipante| %><!-- --->
        <%= User.find_by(uid: partecipante.utente).name %>
        <% end %>
      </div>
    </div>
  </div>
</li>
<% if @messages.empty? %>
    <p class="lead text-center">
      Non ci sono aggiornamenti sul percorso!
    </p>
<% else %>
    <p class="lead text-center">
      Aggiornamenti ...
    </p>
  <% @messages.each do |message| %>
    <div class="well">
      <ul class="list-inline">
        <li>
          <%= image_tag message[1], alt: message[2], class: 'img-circle' %><br>
          <%= message[2] %>
        </li>
        <li>
          <%= message[3] %><br>
          <button>TO DO</button>
        </li>
      </ul>
    </div>
  <% end %>
<% end %>
</ul>
