<p id="notice"><%= notice %></p>

<h1>Listing Partecipantes</h1>

<table>
  <thead>
    <tr>
      <th>Percorso</th>
      <th>Utente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partecipantes.each do |partecipante| %>
      <tr>
        <td><%= partecipante.percorso %></td>
        <td><%= partecipante.utente %></td>
        <td><%= link_to 'Show', partecipante %></td>
        <td><%= link_to 'Edit', edit_partecipante_path(partecipante) %></td>
        <td><%= link_to 'Destroy', partecipante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partecipante', new_partecipante_path %>
