<%= form_for(@partecipanti) do |f| %>
  <% if @partecipanti.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partecipanti.errors.count, "error") %> prohibited this partecipanti from being saved:</h2>

      <ul>
      <% @partecipanti.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :percorso %><br>
    <%= f.text_field :percorso %>
  </div>
  <div class="field">
    <%= f.label :utente %><br>
    <%= f.text_field :utente %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
